{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>V-Mart </title>
	<!-- Bootstrap core CSS -->
	<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
	<!-- Fontawesome CSS -->
	<link href="{% static 'css/all.css'%}" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="{% static 'css/style.css'%}" rel="stylesheet">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-light top-nav fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index.html">
              <img src="{% static 'images/logo_081.jpg'%}" alt="logo" />
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="fas fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
                 
                  <li class="nav-item">
                     <a class="nav-link active" href="/">Back</a>
                  </li>
               </ul>
            </div>
        </div>
    </nav>
	
	<!-- full Title -->
	
  <br><br><br>

    <!-- Page Content -->
    <div class="container">
		

      

      <!-- Contact Form -->
      <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
      <div class="row">
        <div class="col-lg-8 mb-4 contact-left">
          <h3>Registration</h3>
          {% for mssg in messages %}
    <h4>{{mssg}}</h4>
{% endfor %}
          <form action="" method='POST' enctype="multipart/form-data" name="sentMessage" id="contactForm" novalidate>
            {% csrf_token %}
            <div class="control-group form-group">
              <div class="controls">
                <label>Name:</label>
                <input type="text" class="form-control" id="name" name="name" required data-validation-required-message="Please enter your name.">
                <p class="help-block"></p>
              </div>
            </div>
            <div class="control-group form-group">
              <div class="controls">
                <label> Business Name:</label>
                <input type="text" class="form-control" id="name" name="bname" required data-validation-required-message="Please enter your name.">
                <p class="help-block"></p>
              </div>
            </div>
            <div class="control-group form-group">
              <div class="controls">
                <label>Email:</label>
                <input type="email" class="form-control" id="email" name="email" required data-validation-required-message="Please enter your phone number.">
              </div>
            </div>
            <div class="control-group form-group">
              <div class="controls">
                <label>Place:</label>
                <input type="text" class="form-control" id="place" name="place" required data-validation-required-message="Please enter your email address.">
              </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                  <label>Address:</label>
                  <input type="text" class="form-control" id="address" name="address" required data-validation-required-message="Please enter your phone number.">
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
              <label for="district">Select District:</label>

              <select id="district" name="dist">
                <option value="">Select</option>
                <option value="alappuzha">Alappuzha</option>
                <option value="ernakulam">Ernakulam</option>
                <option value="idukki">Idukki</option>
                <option value="kannur">Kannur</option>
                <option value="kasaragod">Kasaragod</option>
                <option value="kollam">Kollam</option>
                <option value="kottayam">Kottayam</option>
                <option value="kozhikode">Kozhikode</option>
                <option value="malappuram">Malappuram</option>
                <option value="palakkad">Palakkad</option>
                <option value="pathanamthitta">Pathanamthitta</option>
                <option value="thiruvananthapuram">Thiruvananthapuram</option>
                <option value="thrissur">Thrissur</option>
                <option value="wayanad">Wayanad</option>
            </select>
          </div>
        </div>
              <div class="control-group form-group">
                <div class="controls">
                  <label>City:</label>
                  <input type="text" class="form-control" id="city" name="city" required data-validation-required-message="Please enter your phone number.">
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <label>Phoneno:</label>
                  <input type="text" class="form-control" pattern="[0-9]{10}" title="Pleade enter valid phone number" id="phoneno" name="contact" required data-validation-required-message="Please enter your phone number.">
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <label>State:</label>
                  <input type="text" class="form-control" id="state" name="state" required data-validation-required-message="Please enter your phone number.">
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls" required>
                  <label>Upload Business logo:</label>
                  <input type="file" class="form-control" id="state" name="bimg" required >
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <label>Password:</label>
                  <input type="password" class="form-control" id="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" name="password" required >
                </div>
              </div>
              
              <div class="control-group form-group">
                <div class="controls">
                  <label>Confirm Password:</label>
                  <input type="password" class="form-control" id="phone" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" name="RPassword" required >
                </div>
              </div>


            {% comment %} <div class="control-group form-group">
              <div class="controls">
                <label>Message:</label>
                <textarea rows="5" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
              </div>
            </div> {% endcomment %}


            <div id="success"></div>
            <!-- For success/fail messages -->
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Submit</button>
          </form>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <script>
      function showCities() {
          var districtSelect = document.getElementById("district");
          var selectedDistrict = districtSelect.value;
          var selectedCity = "";

          var cityContainer = document.getElementById("cityContainer");
          var selectedCityElement = document.getElementById("selectedCity");

          if (selectedDistrict !== "") {
              selectedCity = districtSelect.options[districtSelect.selectedIndex].text;
              cityContainer.style.display = "block";
              selectedCityElement.textContent = selectedCity;
          } else {
              cityContainer.style.display = "none";
              selectedCityElement.textContent = "";
          }
      }
  </script>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<!-- Contact form JavaScript -->
{% comment %} <script src="{% static 'js/jqBootstrapValidation.js'%}"></script> {% endcomment %}
<script src="{% static 'js/contact_me.js'%}"></script>
</body>
</html>
